testStandOffWithTBX/standOffwithTBX.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="../Schemas/tei_odds.rnc" type="application/relax-ng-compact-syntax"?>
<TEI xml:lang="en" xmlns="http://www.tei-c.org/ns/1.0"
  xmlns:rng="http://relaxng.org/ns/structure/1.0" xmlns:tbx="http://www.tbx.org">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>TBX Extension to the standOff specification</title>
        <author>
          <persName>Laurent Romary</persName>
        </author>
      </titleStmt>
      <publicationStmt>
        <authority>Inria</authority>
        <availability status="free">
          <p></p>
          <licence
            target="http://creativecommons.org/licenses/by/3.0/">
            <p>The Creative Commons Attribution 3.0 Unported (CC BY 3.0) Licence
              applies to this document.</p>
            <p>You can quote this document as: <q>Romary, L., TBX extension to the standOff specification; ODD specification. 2016</q></p>
          </licence>
        </availability>
      </publicationStmt>
      <sourceDesc>
        <p>TBX Basic</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <div>
        <schemaSpec ident="standOffWithTBX" start="TEI teiCorpus" source="https://raw.githubusercontent.com/laurentromary/stdfSpec/AnnArbor/Specification/standoff-proposal_doc.xml">
          <moduleRef key="tei"/>
          <moduleRef key="header" except="biblFull xenoData"/>
          <moduleRef key="core"/>
          <moduleRef key="textstructure"/>
          <moduleRef key="namesdates"/>
          <moduleRef key="linking"/>
          <moduleRef key="analysis"/>
          <moduleRef key="corpus"/>
          <moduleRef key="dictionaries"/>
          <moduleRef key="standOff"/>
          <moduleRef key="iso-fs"/>
          
          <!-- TBX is described from termEntry downwards -->
          <elementSpec ident="termEntry" ns="http://www.tbx.org" mode="add">
            <desc>groups the components of a single Terminological Entry as defined in ISO 16642
              (TMF)</desc>
            <!-- see TCW20 for TEI style rules e.g. each desc should be a headless sentence with implied subject "The component 
           being defined ..."-->
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="model.entryLike"/>
              <memberOf key="model.annotation"/>
            </classes>
            <content>
              <rng:group>
                <rng:zeroOrMore>
                  <rng:ref name="model.auxInfo"/>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                  <rng:ref name="langSet"/>
                </rng:zeroOrMore>
              </rng:group>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <termEntry xmlns="http://www.tbx.org" xml:id="c5">
                  <langSet xml:lang="en">
                    <tig>
                      <term>e-mail</term>
                    </tig>
                  </langSet>
                  <langSet xml:lang="fr">
                    <tig>
                      <term>courriel</term>
                    </tig>
                  </langSet>
                </termEntry>
              </egXML>
            </exemplum>
            <remarks><p>Informally a Terminological Entry may be defined as .... </p></remarks>
          </elementSpec>
          <elementSpec ident="langSet" ns="http://www.tbx.org" mode="add">
            <desc>groups all information relevant to the Language Section component as defined in
              ISO 16642 (TMF)</desc>
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:group>
                <rng:zeroOrMore>
                  <rng:ref name="model.auxInfo"/>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                  <rng:ref name="tig"/>
                </rng:zeroOrMore>
              </rng:group>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <langSet xml:lang="en" xmlns="http://www.tbx.org">
                  <tig>
                    <term>e-mail</term>
                  </tig>
                </langSet>
              </egXML>
            </exemplum>
          </elementSpec>
          
          
          <elementSpec ident="tig" ns="http://www.tbx.org" mode="add">
            <desc>groups all information relevant to the Term Section component as defined in ISO
              16642 (TMF)</desc>
            <!-- as above -->
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:group>
                <rng:choice>
                  <rng:ref name="term"/>
                  <rng:oneOrMore>
                    <rng:ref name="form"/>
                  </rng:oneOrMore>
                </rng:choice>
                <rng:choice>
                  <rng:group>
                    <rng:ref name="gramGrp"/>
                  </rng:group>
                  <rng:group><rng:zeroOrMore>
                    <rng:ref name="termNote"/>
                  </rng:zeroOrMore>
                    <rng:zeroOrMore>
                      <rng:ref name="model.auxInfo"/>
                    </rng:zeroOrMore></rng:group>
                </rng:choice>
                <rng:zeroOrMore>
                  <rng:ref name="termNote"/>
                </rng:zeroOrMore>
                <rng:zeroOrMore>
                  <rng:ref name="model.auxInfo"/>
                </rng:zeroOrMore>
              </rng:group>
            </content>
            <exemplum xml:lang="en">
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <tig xmlns="http://www.tbx.org">
                  <term>e-mail</term>
                </tig>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <elementSpec ident="term" ns="http://www.tbx.org" prefix="t_" mode="add">
            <desc>...</desc>
            <!-- ????? -->
            <!-- if this is different from tei:term it should have a different name -->
            <classes>
              <memberOf key="att.global"/>
            </classes>
            <content>
              <rng:text/>
              <!-- no chance of <g>s? -->
            </content>
          </elementSpec>
          
          <elementSpec ident="termNote" ns="http://www.tbx.org" mode="add">
            <desc>...</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          
          <elementSpec ident="descrip" ns="http://www.tbx.org" mode="add">
            <desc>provides descriptive information about the node in question.</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
              <memberOf key="att.pointing"/>
              <memberOf key="model.auxInfo"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
            <attList>
              <attDef ident="type" mode="change" usage="req">
                <valList type="semi">
                  <valItem ident="definition">
                    <desc>representation of a concept by a descriptive statement which serves to differentiate that concept from related concepts</desc>
                  </valItem>
                  <valItem ident="subjectField">
                    <desc>field of special knowledge</desc>
                  </valItem>
                  <valItem ident="context">
                    <desc>text which illustrates a concept or a term, by containing the concept designation itself</desc>
                  </valItem>
                </valList>
              </attDef>
            </attList>
            <remarks>
              <p>The <gi>descrip</gi> element can be nested within a <gi>descripGrp</gi></p>
            </remarks>
          </elementSpec>
          
          <elementSpec ident="descripGrp" ns="http://www.tbx.org" mode="add">
            <desc>...</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="model.auxInfo"/>
            </classes>
            <content>
              <rng:group>
                <rng:ref name="descrip"/>
                <rng:zeroOrMore>
                  <rng:ref name="admin"/>
                </rng:zeroOrMore>
              </rng:group>
              <rng:text/>
            </content>
            <exemplum>
              <egXML xmlns="http://www.tei-c.org/ns/Examples">
                <descripGrp xmlns="http://www.tbx.org">
                  <descrip type="definition">This is a sample definition.</descrip>
                  <admin type="source">Webster's</admin>
                </descripGrp>
              </egXML>
            </exemplum>
          </elementSpec>
          
          <elementSpec ident="transacGrp" ns="http://www.tbx.org" mode="add">
            <desc>Groups together transaction information</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="model.auxInfo"/>
            </classes>
            <content>
              <rng:group>
                <rng:ref name="transac"/>
                <rng:zeroOrMore>
                  <rng:group>
                    <rng:ref name="transacNote"/>
                    <rng:ref name="date"/>
                  </rng:group>
                </rng:zeroOrMore>
              </rng:group>
              <rng:text/>
            </content>
          </elementSpec>
          
          <elementSpec ident="transacNote" ns="http://www.tbx.org" mode="add">
            <desc>...</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
              <memberOf key="att.pointing"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          
          <elementSpec ident="transac" ns="http://www.tbx.org" mode="add">
            <desc>...</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          
          <elementSpec ident="admin" ns="http://www.tbx.org" mode="add">
            <desc>contains information of an administrative nature for the node in question</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
              <memberOf key="model.auxInfo"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
            <remarks>
              <p>In the TBX standard the <gi>admin</gi> element can be nested within a
                  <gi>adminGrp</gi> which is not defined in the present customisation</p>
            </remarks>
          </elementSpec>
          
          <elementSpec ident="bpt" ns="http://www.tbx.org" mode="add">
            <gloss>begin paired tags</gloss>
            <desc>meta-markup tags that are used to mark up, i.e., encapsulate markup to distinguish
              it from text</desc>
            <classes>
              <memberOf key="att.global"/>
              <memberOf key="att.typed"/>
              <memberOf key="model.metaMarkup"/>
            </classes>
            <content>
              <rng:zeroOrMore>
                <rng:choice>
                  <rng:text/>
                  <rng:ref name="model.limitedPhrase"/>
                  <rng:ref name="model.metaMarkup"/>
                </rng:choice>
              </rng:zeroOrMore>
            </content>
          </elementSpec>
          
          <classSpec ident="model.auxInfo" type="model" mode="add">
            <desc>...</desc>
            <!-- please explain what this class is for! -->
          </classSpec>
          
          <classSpec ident="model.ptrLike" type="model" mode="change">
            <classes mode="change">
              <memberOf mode="add" key="model.auxInfo"/>
            </classes>
          </classSpec>
          
          <classSpec ident="model.noteLike" type="model" mode="change">
            <classes mode="change">
              <memberOf mode="add" key="model.auxInfo"/>
            </classes>
          </classSpec>
          
          <classSpec ident="model.metaMarkup" type="model" mode="add">
            <desc>groups together all meta-markup elements intended to encapsulate legacy (non XML)
              markup in a textual segment</desc>
          </classSpec>
        </schemaSpec>
      </div>
    </body>
  </text>
</TEI>
